<script>
export default {
  data () {
    return {
      now: new Date().toLocaleDateString()
    }
  }
}
</script>

<template>
  <main>
    <h1>Vite works fine with Vue 2!</h1>
    <h4>{{ now }}</h4>
  </main>
</template>

<style lang="scss" scoped>

</style>
